aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
bs4
cloudscraper
countryinfo
datetime
dnspython
ffmpeg-python
flask
geopy==2.4.1
gitpython
gtts
gpytranslate
gunicorn
hachoir
heroku3
lxml
moviepy==1.0.3
motor
MukeshAPI
numpy
pillow
pydub
pyyaml
pyfiglet
pykeyboard
pyrogram
pySmartDL
pyshorteners
python-dotenv
py-tgcalls==0.9.7
pymongo
pytz
regex==2024.5.15
requests
secureme
spotipy
speedtest-cli==2.1.3
textblob
tgcrypto
telegraph
unidecode
wikipedia
wget
youtube-search
youtube_search_python
yt-dlp
google-api-python-client